@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    *{
        @apply transition-colors duration-100;
    }

    html{
        scroll-behavior: smooth;
    }

    body{
        @apply bg-white text-neutral-900
        dark:bg-neutral-950
        dark:text-white
    }
}

@layer components{

    .btn{
        @apply
        px-5
        py-2
        rounded-xl
        font-medium
        transition
        duration-300;
    }





    .btn-secondary{
        @apply
        btn
        bg-white
        border
        border-neutral-300
        text-neutral-900
        hover:bg-neutral-100

        dark:bg-neutral-900
        dark:text-white
        dark:border-neutral-700
        dark:hover:bg-neutral-800;
    }
}

@layer utilities{
    .flex-center{
        @apply 
        flex
        items-center
        justify-center
    }
}