@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    *{
        @apply transition-colors duration-75 overflow-hidden;
    }

    html{
        scroll-behavior: smooth;
    }

    body{
        @apply bg-white text-neutral-900
        dark:bg-neutral-950
        dark:text-white
    }
}

@layer components{



    .btn{
        @apply
          rounded-xl
          py-2
          bg-neutral-900
          text-white
          hover:bg-black

          dark:bg-white
          dark:text-black
          dark:hover:bg-neutral-200
          transition
    }
}

@layer utilities{
    .flex-center{
        @apply 
        flex
        items-center
        justify-center
    }
}